{% extends "layout.html" %}
{% block body %}

<table class='table table-condensed table-bordered table-striped'>
            <thead>
                <tr><th>{{user}}'s Gists</th></tr>
            </thead>
            <tbody>

        {% for entry in entries %}
        <tr><td>
            <i class='icon-book'></i>
            <a href='{{entry.id}}'>{{entry.id}}</a>
            {% for notebook in entry.notebooks %}
            <a href='{{entry.id}}/{{notebook}}'>{{notebook}}</a>
            {% endfor %}
            <span class='gist-description'>{{entry.description}}</span>
        </td></tr>
        {% endfor %}
        </tbody>
        </table>

    <ul class="thumbnails example-sites">
        {% for entry in entries %}
            <li class="span4">
            <p class="marketing-byline">{{entry.description}}</p>
            <a class="thumbnail" href="{{entry.id}}" target="_blank" style="height:200px">
                <div style="background:url(http://www.siliconrepublic.com/fs/img/news/201208/rs-426x288/python-logo.jpg);height:100%" >
                    <span style="display: block;
    height: 100%;
    overflow: hidden;">
                    <img
                        style='opacity:0;width:auto;max-width:none';
                        src="{{entry.thumb.raw_url}}"
                        onload="this.style.opacity=1"  
                    />
                    </span>
                </div>
            </a>
            </li>
        {% endfor %}
    </ul>


{% endblock %}
